:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow:
        0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
        0 16px 32px rgba(var(--gray), 33%);
}

body {
    font-family: "Atkinson", sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background: var(--gray-light);
    color: rgb(55, 65, 81); /* text-gray-700 */
    font-size: 20px;
    line-height: 1.7;
}

/* Dark Mode */
.dark body {
    background: rgb(var(--gray-dark));
    color: rgb(209, 213, 219); /* text-gray-300 */
}

main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(var(--black));
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: rgb(229, 231, 235); /* text-gray-200 */
}

a {
    color: rgb(55, 65, 81); /* text-gray-700 */
    text-decoration: none;
}
/*
a:hover {
    color: var(--accent);
} */

.dark a {
    color: rgb(209, 213, 219); /* text-gray-300 */
}

/* .dark a:hover {
    color: var(--accent-dark);
} */



hr {
    border: none;
    border-top: 1px solid rgb(209, 213, 219); /* border-gray-300 */
}

.dark hr {
    border-top: 1px solid rgb(55, 65, 81); /* border-gray-700 */
}

@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
    main {
        padding: 1em;
    }
}
