---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Folder from "../components/Folder.astro";
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-full bg-gray-50 dark:bg-stone-950 flex flex-col">
        <Header />

        <main class="max-w-[700px] mx-auto px-4 py-12">
            <h1
                class="text-4xl font-bold text-gray-700 dark:text-gray-300 mb-6"
            >
                Rajesh Jha
            </h1>
            <h2 class="text-xl text-gray-700 dark:text-gray-300">
                Indie developer | Building low-level systems & tools
            </h2>
            <div class="prose dark:prose-invert">
                <p class="text-gray-700 dark:text-gray-300">
                    I specialize in low-level programming, distributed systems,
                    and creating efficient tools that scale. Passionate about
                    building high-performance software and exploring new tech.
                </p>
                <p class="text-gray-700 dark:text-gray-300">
                    Currently working on projects that involve Rust, Zig, and
                    distributed computing. Open to collaborations and
                    open-source contributions.
                </p>
            </div>

            <h1
                class="text-3xl font-medium text-gray-700 dark:text-gray-300 mb-6"
            >
                Portfolio
            </h1>

            <div class="grid grid-cols-2 gap-3">
                <a href="/websites">
                    <div
                        class="border dark:border-stone-800 rounded-md px-3 bg-stone-100 dark:bg-stone-900 py-2 text-center text-gray-700 dark:text-gray-300 flex justify-between"
                    >
                        <div>Website</div>
                        <Folder />
                    </div>
                </a>
                <a href="/softwares">
                    <div
                        class="border dark:border-stone-800 rounded-md px-3 bg-stone-100 dark:bg-stone-900 py-2 text-center text-gray-700 dark:text-gray-300 flex justify-between"
                    >
                        <div>Software</div>
                        <Folder />
                    </div>
                </a>
                <a href="/posts">
                    <div
                        class="border dark:border-stone-800 rounded-md px-3 bg-stone-100 dark:bg-stone-900 py-2 text-center text-gray-700 dark:text-gray-300 flex justify-between"
                    >
                        <div>Posts</div>
                        <Folder />
                    </div>
                </a>
                <a href="/work">
                    <div
                        class="border dark:border-stone-800 rounded-md px-3 bg-stone-100 dark:bg-stone-900 py-2 text-center text-gray-700 dark:text-gray-300 flex justify-between"
                    >
                        <div>Work</div>
                        <Folder />
                    </div>
                </a>
            </div>
        </main>

        <Footer />
    </body>
</html>
