---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Folder from "../components/Folder.astro";
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body class="h-full bg-gray-50 dark:bg-stone-950 flex flex-col">
        <Header />

        <main class="w-full max-w-[700px] mx-auto px-4 py-12">
            <h1
                class="text-4xl font-bold text-gray-700 dark:text-gray-300 mb-4 text-left"
            >
                Rajesh Jha
            </h1>
            <h2 class="text-lg text-gray-700 dark:text-gray-300 text-left">
                Indie developer | building 1mu.bot & llm-relay
            </h2>
            <div class="prose dark:prose-invert mt-8 text-left">
                <p
                    class="text-sm md:text-base text-gray-700 dark:text-gray-300"
                >
                    an indie dev working on cool side projects and trying to learn low level coding with Rust and Zig.
                </p>
                <p
                    class="text-sm md:text-base text-gray-700 dark:text-gray-300 mt-6 mb-10"
                >
                    Currently working on projects that involve llm orchestration, defi in solana ecosystem, writing a parser.
                    also learning Zig.
                </p>
            </div>

            <h1
                class="text-3xl font-medium text-gray-700 dark:text-gray-300 mb-6 text-left"
            >
                Portfolio
            </h1>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
                <a href="/websites" class="block">
                    <div
                        class="border dark:border-stone-800 rounded-md px-4 py-3 bg-stone-100 dark:bg-stone-900 flex items-center justify-between text-gray-700 dark:text-gray-300"
                    >
                        <span>Website</span>
                        <Folder />
                    </div>
                </a>
                <a href="/softwares" class="block">
                    <div
                        class="border dark:border-stone-800 rounded-md px-4 py-3 bg-stone-100 dark:bg-stone-900 flex items-center justify-between text-gray-700 dark:text-gray-300"
                    >
                        <span>Software</span>
                        <Folder />
                    </div>
                </a>
                <a href="/posts" class="block">
                    <div
                        class="border dark:border-stone-800 rounded-md px-4 py-3 bg-stone-100 dark:bg-stone-900 flex items-center justify-between text-gray-700 dark:text-gray-300"
                    >
                        <span>Posts</span>
                        <Folder />
                    </div>
                </a>
                <a href="/work" class="block">
                    <div
                        class="border dark:border-stone-800 rounded-md px-4 py-3 bg-stone-100 dark:bg-stone-900 flex items-center justify-between text-gray-700 dark:text-gray-300"
                    >
                        <span>Work</span>
                        <Folder />
                    </div>
                </a>
            </div>
        </main>

        <Footer />
    </body>
</html>
