---
export interface Props {
    name: string;
    link: string;
    description: string;
}

const { name, link, description } = Astro.props;
---

<li class="mb-2">
    <a
        href={link}
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg text-blue-500 dark:text-blue-200 hover:underline hover: decoration-blue-400 underline-offset-4"
    >
        {name}(WIP)
    </a>
    <p class="text-sm text-gray-500 dark:text-gray-400 ml-2">
        - {description}
    </p>
</li>
